 * {
 	box-sizing: border-box;
 	text-align: center;
 }

 body {
 	font-size: 18px;
 	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
 	line-height: 27px;
 	background-color: #777;
 	width: 960px;
 }

 header {
 	padding: 20px;
 	margin-bottom: 15px;
 	margin-left: 10px;
 	font-size: 18px;
 	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
 	line-height: 27px;
 	background: #ebebeb;
 }

 nav {
 	padding: 20px;
 	margin-bottom: 15px;
 	margin-left: 10px;
 	font-size: 18px;
 	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
 	line-height: 27px;
 	background: #ebebeb;  
 }

 section {
 	padding: 20px;
 	margin-bottom: 20px;
 	margin-left: 10px;
 	width: 495px;
 	background: #ebebeb;
 	float: left;
 	clear: both;
 }

 article {
 	padding: 10px;
 	background: #777;
 }

 h1 {
 	padding: 10px;
 	background: #ebebeb;

 }

 aside {
 	padding: 10px 195px 230px 195px;
 	margin-left: 20px;
 	background: #ebebeb;
 	float: left;
 }

 p {
 	padding: 10px;
 	background: #ebebeb;
 }

 footer {
 	padding: 20px;
 	margin-bottom: 20px;
 	margin-left: 10px;
 	background: #ebebeb;
 	clear: both;
 }

 a {
 	color: green;
 }

